<section id="testimonios" class="py-20">
  <div class="container mx-auto px-4">
    <div class="text-center mb-12">
      <h2 class="text-3xl font-bold mb-4">Lo que dicen mis clientes</h2>
      <p class="text-lg text-muted-foreground max-w-2xl mx-auto">
        Opiniones de personas y empresas con las que he tenido el placer de colaborar en diversos
        proyectos.
      </p>
    </div>

    <!-- (touchstart)="onTouchStart($event)"
      (touchmove)="onTouchMove($event)"
      (touchend)="onTouchEnd()" -->
    <div class="relative max-w-5xl mx-auto">
      <div class="absolute left-0 top-1/2 transform -translate-y-1/2 z-10">
        <button
          type="button"
          z-button
          zVariant="ghost"
          zSize="icon"
          (click)="prevTestimonial(); handleInteraction()"
          class="h-10 w-10 rounded-full bg-background/80 backdrop-blur-sm shadow-md hover:bg-primary/20 hover:text-white cursor-pointer text-muted-foreground"
          zTooltip="Anterior testimonio"
          zPosition="left">
          <ng-icon name="lucideChevronLeft" class="h-6 w-6" />
        </button>
      </div>

      <div class="absolute right-0 top-1/2 transform -translate-y-1/2 z-10">
        <button
          type="button"
          z-button
          zVariant="ghost"
          zSize="icon"
          class="h-10 w-10 rounded-full bg-background/80 backdrop-blur-sm shadow-md hover:bg-primary/20 hover:text-white cursor-pointer text-muted-foreground"
          (click)="nextTestimonial(); handleInteraction()"
          zTooltip="Siguiente testimonio"
          zPosition="right">
          <ng-icon name="lucideChevronRight" class="h-6 w-6" />
        </button>
      </div>

      <div class="overflow-hidden px-4">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
          @for (testimonial of visibleTestimonials(); track $index) {
            <f-card
              [cId]="testimonial.id"
              [cClass]="
                'h-full transition-all duration-500 ease-in-out ' +
                (testimonial.isActive ? 'border-2 border-primary/20' : '')
              ">
              <f-card-content cClass="p-6">
                <div class="flex flex-col items-center text-center h-full">
                  <div
                    class="relative w-16 h-16 rounded-full overflow-hidden mb-4 border-4 border-primary/20 mx-auto shrink-0">
                    <img
                      [ngSrc]="testimonial.imageFullUrl || '/img/placeholder.svg'"
                      [alt]="testimonial.fullname"
                      width="100"
                      height="100"
                      class="object-cover object-center" />
                  </div>

                  <ng-icon name="lucideQuote" class="h-8 w-8 text-primary/30 mb-4" />

                  <p class="text-base mb-6 italic line-clamp-6 flex-grow h-36 max-h-36">
                    {{ truncate(testimonial.comment) }}
                  </p>

                  <div class="mt-auto">
                    <h3 class="font-bold">{{ testimonial.fullname }}</h3>
                    <p class="text-muted-foreground text-sm">
                      {{ testimonial.position }}, {{ testimonial.empresa }}
                    </p>
                    <p class="text-muted-foreground text-sm">
                      Proyecto:
                      <a
                        [routerLink]="'/proyecto/' + testimonial.project.slug"
                        class="font-semibold hover:text-primary/50"
                        >{{ testimonial.project.title }}</a
                      >
                    </p>
                  </div>

                  <div class="flex justify-center items-center mt-2">
                    @if (testimonial.comment | exceedsLength: truncateLength) {
                      <a
                        href="javascript:void(0);"
                        (click)="onViewDetail(testimonial)"
                        class="text-primary/60 font-bold hover:text-primary text-sm"
                        >Leer más</a
                      >
                    }
                  </div>
                </div>
              </f-card-content>
            </f-card>
          }
        </div>
      </div>
    </div>
  </div>
</section>
