node_modules

dist
.angular

src/environments/environment.prod.ts
src/environments/environment.dev.ts

.env
.env.*

.git
.gitignore
.vscode
.idea

npm-debug.log*
*.log

Dockerfile
.dockerignore

**/*.spec.ts
coverage
README.md